@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,800);
/* l'import de polices doit toujours se faire avant les commentaires */

/*
	Dans cette feuille sont gérés le poisitionnement de grads blocs, et éléments généraux, commme les polices
*/
/* HACKS */
	/* Changement du comportement naturel des block */
	/* apply a natural box layout model to all elements, but allowing components to change */
		html {
		  box-sizing: border-box;
		}
		*, *:before, *:after {
		  box-sizing: inherit;
		}

	/* Clearfix */
		.clearfix:after {
			 content: ".";
			 display: block;
			 clear: both;
			 visibility: hidden;
			 line-height: 0;
			 height: 0;
		}
		.clearfix {display: block;}
		html[xmlns] .clearfix {display: block;}
		* html .clearfix {height: 1%;}

/* définition des grands block */
body{
	background: #eee;
	color:#333;
	font-family: 'Open Sans';
}

#wrapper{
	width: 90%;
	max-width: 1000px;

	margin : 0 auto;
	padding :1px 0;/* hack pour positionnement en haut du wrap */
}

#site-header{
	background: #000;
	padding : 20px
}

main{
	background: #fff;
	padding : 1em;
	border-radius : .5em
}

main section, main	aside{
	float : left;
}

main section{
	width : 68%;
	margin-right : 2%;
}

main aside{
	width :30%;
	font-size : .9em;
	border-left : 1px solid rgba(0,0,0,.2);
	padding-left: 1em;

}
footer{
	padding: .5em;
	text-align : center;
	font-size : .8em
}
