/* Header */

#site-title, #site-slogan{
	margin : 0px;
}
#site-title a, #site-slogan{
	color : white;
	text-decoration: none;
}
#site-header h1 a span{
	color : #e00000
}
/* Section */

main section article{
	margin-left : 1em
}

main section article p{
	margin-left : 1em;
	text-align  : justify;
	word-break: normal;
}

/* aside */

main aside article{
	margin : 1em 0;
	margin-left : .5em;
	box-shadow : rgba(0,0,0,0.5) 1px 1px 4px;
	padding : .5em;
}
aside h2,
aside h3,
aside h4,
aside strong{
	color : #aaa
}

/*spans */

.alerte{
	border : 1px solid red;
	background : pink;
}


/* nav */

nav ul{
list-style-type: none;
padding : 0;
}

nav li{
	float : left;
}

nav li a{
	display: block;
	width : 100px;
	text-align :center;
	padding : .5em;
	text-decoration : none;
	margin : 0 1em;
	background : rgba(255,255,255,.75);
	border-radius : 2px;
	color : black;
	transition : all 300ms ease;
}

nav li a:hover {
	background: #fff;
}

nav li.link-active a{
	font-weight: bold;
	background: #fff;
}

/* images */

.img-pre{
	float : left;
	margin-right : 15px
}
.img-post{
	float : right;
	margin-left : 15px;
}


/* membre de l'equipe */

.membre-poste{
font-weight: normal;
font-variant: small-caps;
}

.membre-poste:before{
content : " _ ";
}

.grouillot-photo{
	float:left;
	width : 23%;
	margin : 1%;
	border : 1px solid rgba(0,0,0,.2);
	padding : .5em;
	text-align : center;
	font-weight : bold;
	font-size : .8em
}
.grouillot-photo img{
max-width: 100%;
	height : auto;
}

/*  tableaux */

th, td {
/*	border : 1px solid black;*/
	padding : .5em;
}

.tarif1{
	width : 100%
}

.tarif1 th{
	width : 33.3333%;
		background : lightblue
}

.tarif1 th:first-child{
	border-radius : 20px 0 0 0;

}

.tarif1 th:last-child{
	border-radius : 0 20px 0 0;
}

.tarif1 td {border-left : 2px solid lightblue}
.tarif1 td:first-child {border-left : 0}

.tarif1 tr:nth-child(even){ background: #eef;}
.tarif1 tr:nth-child(odd){ background: #efe;}



/* forms */

label{display : inline-block;}

label.medium{ width : 100px }
